# TERRAFORM
.terraform/
terraform.tfstate
terraform.tfstate.backup

# TALOS
talos/

# DIRTY LITTLE SECRETS
.env
unsealed-secret.yaml
flux-ssh-key*

# TEMP
config.json
jcarpenter-uam-ghcr-secret.yaml
test.txt
